article ul.menu {
  margin: 0;
  padding: 0;
  min-width: 120px;
}

article ul.menu li {
  list-style-type: none;
  min-width: 120px;
}

article ul.menu li a {
  display: block;
  background-color: #e91e63;
  color: #fff;
  padding: 8px;
}

article ul.menu li.current-menu-item a {
  display: block;
  background-color: #9c27b0;
  color: #fff;
  padding: 8px;
}